.loginCon {
    background-image: url("../../Assets/Background/background.png");
    background-repeat: no-repeat;
    padding: 0%;
    margin: 0%;
    height: 93vh;
    width: 100vw;
    image-rendering: -webkit-optimize-contrast;
    background-repeat: no-repeat;  
    background-size: cover;
    margin-top: -80px;
}