.dashCon {
  background-position: center;
  background-size: cover;
  
 background-repeat: no-repeat;
  background-image: url("../../Assets/illustrations/background1.png");
}

  
  .header {
    width: 90%;
    margin: auto;
    height: 40%;
  }