.con {
    width: 100%;
    height: 100%;
}
.chatCon {
    width: 70%;
    background-color: #EEEEEE;
    height: 65vh;
    border-radius: 10px;
    margin-left: 2%;
    margin-top: 1%;
    overflow: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;
  
}

::-webkit-scrollbar {
    width: 5px;
    
  }
.askBtn {
    border-radius: 10px;
    height: 40px;
    margin-left: 2.5%;
}
.askInput {
    width: 60%;
    border-radius: 10px;
    margin-top: 2%;
    margin-left: 1rem;
    border-color: var(--heading-color);
    border-width: 1px;
    border-style: solid;
    font-size: 13px;
    height: 40px;
}
.askInput::placeholder {
    font-size: 13px;
    opacity: 0.6;
    
}
h4 {
    margin-left:2%;
    
}
.userText {
    float: right;
    background-color: #512D6D;
    color: white;
    font-size: 10px;
    width: 30%;
    text-align: center;
    border-radius: 10px;
    height: 15px;
    padding: 10px;
    margin: 2%;
    min-width: 40%;
    margin-top: 4%;
}
.botText {
    float: left;
    
    font-size: 10px;
    color: white;
    border-radius: 10px;
    background-color: var(--heading-color);
    margin-left: 2%;
    padding: 10px;
    text-align: center;
    min-width: 40%;
    max-width: 80%;
    
    margin-top: 10%;
}
.noteCon {
    float: right;
   width: 20%;
   height: 65vh;
   margin-top: -35.4%;
   border-radius: 10px;
   margin-right: 3%;

}