.answersList {
    height: 220px;
 
    color: white;

    h6 {
       margin-left: 20px;
    }
    p{
        font-size: 0.8rem;
        margin-left: 20px;
    }
    h5 {
        color: var(--heading-color);
    }
}

.answerCon {
    width: 150px;
    background-color: var(--heading-color);
    height: 150px;
    margin-left: -40px;
margin-right: 10%;

    border-radius: 10px;
    
}
.answerImg {
    height: 30px;
    border-radius: 50%;
    width: 30px;
    margin-left: 10%;
    float: right;
    margin: 5%;
}
.answerList {
    display: flex;
    
}
