.infoBlock {
    height: 40%;
    width: 27%;
    
    border-radius: 10px;
    margin: auto;
    
    margin-right: 5%;
    fill: none;
    border-width: 1.2px;
    display:inline-block;
    margin-top: 8%;
    text-align: center;

    h6 
    {
        color: black;
        
    }
    .boxImg {
        height: 90px;
        width: 90px;
    }
}